{% extends 'base.html' %}
{% load static %}

{% block page %}
<div class="request_info_container">
    <form method="POST">
        {% csrf_token %}
        <div class="request_page_title">
            <h1>Информация по заявке</h1>
            <div class="date_block">
                <span>Дата создания: {{ report_date }}</span>
            </div>
        </div>

        <!-- Поле для ввода контактных данных -->
        <div class="contact_block">
            <label for="contact_email">Укажите ваш контакт для связи:</label>
            <input
                type="email"
                id="contact_email"
                name="contact_email"
                value="{{ report.client_email }}"
                placeholder="Введите вашу почту"
                class="contact_input"
            />
        </div>

        <div class="request_info_content">
            <h2>Услуги в заявке:</h2>
            <div class="narrow-list">
                {% for service in services %}
                    <div class="request_line">
                        <div class="request_image_wrapper">
                            <img src="{{ service.service.image_url }}" alt="Service Image" class="request_line_image">
                        </div>
                        <div class="request_line_info">
                            <p class="request_line_title">{{ service.service.name }}</p>
                            <p class="request_line_price">Цена: {{ service.service.price }} руб.</p>
                            <!-- Поле для ввода комментариев -->
                            <textarea
                                class="comment_textarea"
                                name="comment_{{ service.id }}"
                                placeholder="Добавьте комментарий">{{ service.comment }}</textarea>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Кнопка для сохранения изменений -->
        <button type="submit" class="button save_request_button">Сохранить изменения</button>
    </form>

    <!-- Кнопка для удаления заявки -->
    <form method="POST" action="{% url 'delete_report' report.id %}">
        {% csrf_token %}
        <button type="submit" class="button delete_request_button">Удалить заявку</button>
    </form>
</div>
{% endblock %}
